.linksWrapper {
  display: flex;
  padding: 1rem;
}

.link {
  display: flex;
  color: var(--text-primary-light);
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--link-size);
  padding: 1rem 0rem 0rem 4rem;
  background-color: transparent;
  position: relative;
  z-index: 1;
  width: 12.5rem;
}

.link:active {
  color: var(--secondary-active);
}

.link::before {
  position: absolute;
  content: '';
  border-bottom: 4.3rem solid var(--bg-third-light);
  /* border-bottom: 4.3rem solid #6bb76d; */
  border-left: 4.6rem solid transparent;
  border-top-right-radius: var(--border-radius);
  height: 0;
  width: 14rem;
  top: -0.45rem;
  left: 0rem;
  z-index: -1;
}

.activeLink {
  display: flex;
  color: var(--text-primary-light);
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--link-size);
  padding: 1rem 0rem 0rem 4rem;
  background-color: transparent;
  position: relative;
  z-index: 3;
  width: 12.5rem;
}

.activeLink::before {
  position: absolute;
  content: '';
  border-bottom: 4.4rem solid var(--bg-primary);
  border-left: 4.6rem solid transparent;
  border-top-right-radius: var(--border-radius);
  height: 0;
  width: 14rem;
  top: -0.435rem;
  left: 0rem;
  z-index: -1;
}

.activeLink:active {
  color: var(--secondary-active);
}
