:root {
  --text-primary-light: #4d4d4d;
  --text-primary-dark: #ffffff;

  --text-secondary-light: #81c784;
  --text-secondary-dark: #cacaca;

  --bg-primary-light: #ffffff;
  --bg-primary-dark: #000000;

  /* --bg-secondary-light: #28cb8b; */
  /* --bg-secondary-light: #4caf4f; */
  --bg-secondary-light: #81c784;
  --bg-secondary-dark: #cacaca;

  --secondary-hover: #66bb69;

  --max-width: 1100px;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  /* move this selectors in separate container added to layout because of theme problem */
  /* max-width: 1100px; */
  margin: auto;
}

body {
  text-rendering: optimizeSpeed;
  color: var(--text-primary);
  background: var(--bg-primary);
}

html {
  font-family: var(--font-inconsolata);
}

html:focus-within {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Delete later it was for testing fonts */
h1 {
  font-family: var(--font-montserrat);
}
