/* @font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
  font-weight: 100 900;
  font-stretch: 25% 100%;
} */

:root {
  --text-primary-light: #000000;
  --text-primary-dark: #ffffff;

  --text-secondary-light: #808080;
  --text-secondary-dark: #cacaca;

  --bg-primary-light: #ffffff;
  --bg-primary-dark: #000000;

  --bg-secondary-light: #808080;
  --bg-secondary-dark: #cacaca;

  --max-width: 1100px;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--text-primary-light);
  --bg-secondary: var(--bg-secondary-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 1200px;
}

body {
  color: var(--font-color);
  background: var(--bg-primary);
}

html {
  font-family: var(--font-inconsolata);
}

h1 {
  font-family: var(--font-montserrat);
}
