.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100dvh - var(--header-height) - var(--footer-height));
}

.containerNotFond {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.text {
  font-size: var(--title-secondary-size);
}
