.button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border: none;
  border-radius: 0.8rem;
  font-family: var(--font-inconsolata);
  font-size: var(--link-size);
  font-weight: 700;
  background-color: var(--bg-secondary);
  color: var(--text-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-hover);
}

.button:active {
  background-color: var(--secondary-active);
}

/* .disabledButton {
  width: 32.7rem;
  height: 5.6rem;
  border: none;
  background-color: var(--btn-disabled-bg);
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main-bg);
  font-family: var(--base-font);
} */

/* @media only screen and (min-width: 430px) {
  .button {
    width: 35rem;
  }
  .disabledButton {
    width: 35rem;
  }
}

@media only screen and (min-width: 786px) {
  .button {
    width: 52.8rem;
  }
  .disabledButton {
    width: 52.8rem;
  }
} */
