.button {
  border: none;
  font-family: var(--font-inconsolata);
  cursor: pointer;
}

/* .button:hover {
  background-color: var(--btn-hover);
}

.button:active {
  background-color: var(--btn-bg);
} */

/* .disabledButton {
  width: 32.7rem;
  height: 5.6rem;
  border: none;
  background-color: var(--btn-disabled-bg);
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main-bg);
  font-family: var(--base-font);
} */

/* @media only screen and (min-width: 430px) {
  .button {
    width: 35rem;
  }
  .disabledButton {
    width: 35rem;
  }
}

@media only screen and (min-width: 786px) {
  .button {
    width: 52.8rem;
  }
  .disabledButton {
    width: 52.8rem;
  }
} */
